* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: rgb(0, 160, 0);
    --darkGreen: rgb(0, 105, 0);
}

a{
    text-decoration: none;
}

/* ------ styles bg of header and footer  */
.fluid-container {
    /* background-color: var(--green); */
    background-image: radial-gradient(var(--green), var(--darkGreen));
    color: white;
    border-radius: 100%;
}

header, footer {
    pointer-events: none;
}

/* Enable clicks on actual interactive elements inside header/footer */
header * , footer * {
    pointer-events: auto;
}


/* -----------------------------------header-- */

header {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.header-content {
    transform: translateY(-55%);
}

#title {
    font-family: "Doto", sans-serif;
    font-weight: 750;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 82px 50px 82px;
    color: white;
}

/* -----------------------------------header-- */

main {
    position: relative;
    z-index: 1;
}

/* -------------graph container--------------- */

.graph-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}


.input-container,
.output-container {
    padding: 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 45vw;
}

.output-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    width: 55vw;
}

label {
    cursor: pointer;
}

button {
    cursor: pointer;
}


/* -------------graph container--------------- */


/* -----------------------------------footer-- */

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 50px 92px 128px 92px;
    transform: translateY(55%);
}

.footer-content i {
    font-size: 1.75rem;
}

.source-code a {
    text-decoration: none;
    color: white;
}

.footer-form-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-form-button {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.footer-form {
    background-color: var(--green);
    color: white;
    padding: 1rem;
    height: 60vh;
    width: 70vw;
}

.footer-form-header {
    display: flex;
}

.footer-form-content {
    display: flex;
    flex-direction: column;
}

/* -----------------------------------footer-- */